<!doctype html>
<!--[if lt IE 7]><html class="lt-ie9 lt-ie8 lt-ie7" lang="en"><![endif]-->
<!--[if IE 7]><html class="ie lt-ie9 lt-ie8 ie7" lang="en"><![endif]-->
<!--[if IE 8]><html class="ie lt-ie9 ie8" lang="en"><![endif]-->
<!--[if IE 9]><html class="ie ie9" lang="en"><![endif]-->
<!--[if gt IE 9]><!--><html><!--<![endif]-->

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="initial-scale=1, maximum-scale=1">
	
	
	<title>Component example | Web Project Boilerplate</title>
	
	<!-- STYLES -->
	<link rel="stylesheet" href="css/styles.css"> 
	
</head>
<body>

	<div id="wrapper" class="container-fluid">
		<header id="header">
			HEADER
		</header><!-- #header -->
    
		<div id="main">

			<div id="content">
<!--*************************************************************************************************************-->







			<h1 class="cmp-titulo-1">Texto de ejemplo 2</h1>






				
<!--*************************************************************************************************************-->
			</div><!-- #content -->
			
		</div><!-- #main -->

		<footer id="footer">
			FOOTER
		</footer>
   
	</div><!-- #wrapper -->

	<script src="js/jquery.min.js"></script>
	<script src="js/scripts.min.js"></script>
	
</body>
</html>