<!doctype html>
<!--[if lt IE 7]><html class="lt-ie9 lt-ie8 lt-ie7" lang="en"><![endif]-->
<!--[if IE 7]><html class="ie lt-ie9 lt-ie8 ie7" lang="en"><![endif]-->
<!--[if IE 8]><html class="ie lt-ie9 ie8" lang="en"><![endif]-->
<!--[if IE 9]><html class="ie ie9" lang="en"><![endif]-->
<!--[if gt IE 9]><!--><html><!--<![endif]-->

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="initial-scale=1, maximum-scale=1">
	
	
	<title>cmp-test-1 | Web Project Boilerplate</title>
	
	<!-- STYLES -->
	<link rel="stylesheet" href="css/styles.css"> 
	
</head>
<body>

	<div id="wrapper" class="container-fluid">
		<header id="header">
			HEADER
		</header><!-- #header -->
    
		<div id="main">

			<div id="content" class="container-fluid">
<!--*************************************************************************************************************-->





				<h1>Titulo global</h1>

				<div class="cmp-test-1">
					<h1>Yo soy el componente2 <strong>comp-test-1</strong></h1>
					<div class="row">
						<div class="col-sm-6">
							<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Veritatis, ad, voluptatum, culpa, eveniet libero laudantium fugiat amet ab vitae architecto praesentium magni veniam necessitatibus perspiciatis doloremque debitis minus at quasi.</p>
						</div>
						<div class="col-sm-6">
							<p>Rem, tenetur, temporibus reiciendis totam eveniet natus quibusdam quas nesciunt accusamus necessitatibus minus consequuntur corporis iure voluptatem voluptas eum iusto. Quaerat, autem eveniet accusantium numquam perferendis odio enim quo consequuntur.</p>	
						</div>
					</div>
					
				</div>
				
				
				
					<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quod expedita explicabo voluptate tempora a? Voluptate, rerum, sint non ipsam eveniet nostrum quas hic corrupti debitis odio aspernatur asperiores odit aperiam?</p>
					<p>Neque, at amet minima earum laboriosam numquam laudantium exercitationem ducimus voluptatem repudiandae vero consectetur assumenda esse nam fuga cum quo sequi. Neque debitis esse atque autem at sunt maxime consectetur.</p>
					
					
					






				
<!--*************************************************************************************************************-->
			</div><!-- #content -->
			
		</div><!-- #main -->

		<footer id="footer">
			FOOTER
		</footer>
   
	</div><!-- #wrapper -->

	<script src="js/jquery.min.js"></script>
	<script src="js/scripts.min.js"></script>
	
</body>
</html>