<!doctype html>
<!--[if lt IE 7]><html class="lt-ie9 lt-ie8 lt-ie7" lang="en"><![endif]-->
<!--[if IE 7]><html class="ie lt-ie9 lt-ie8 ie7" lang="en"><![endif]-->
<!--[if IE 8]><html class="ie lt-ie9 ie8" lang="en"><![endif]-->
<!--[if IE 9]><html class="ie ie9" lang="en"><![endif]-->
<!--[if gt IE 9]><!--><html><!--<![endif]-->

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="initial-scale=1, maximum-scale=1">
	
	
	<title>Web Project Boilerplate</title>
	
	<!-- STYLES -->
	<link rel="stylesheet" href="css/styles.css"> 
	
</head>
<body>

	<div id="wrapper" class="container-fluid">
		<header id="header">
			HEADER
		</header><!-- #header -->
    
		<div id="main">

			<div id="content">
				
				<h1>Titulo de la página</h1>
				<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Officiis, reprehenderit, impedit, delectus adipisci deleniti vitae minima fugit dicta laudantium illum aliquid alias dolore. Sed, rem vitae nam dolorem optio numquam!</p>
				<p>Modi, obcaecati, ea, recusandae eum quis eius dolorum voluptas esse quos repellat expedita perspiciatis placeat accusantium deleniti qui sunt ipsum quia necessitatibus maiores eos quae! Eaque obcaecati minima harum voluptate.</p>
				<p>Ut, mollitia, fugit, amet voluptatibus voluptatum quasi cumque impedit minus accusamus corporis totam nostrum reprehenderit sint saepe vel molestiae eum exercitationem officiis eius perferendis illum cum ad obcaecati sequi quidem!</p>
				
				
				
			</div><!-- #content -->
			
		</div><!-- #main -->

		<footer id="footer">
			FOOTER
		</footer>
   
	</div><!-- #wrapper -->

	<script src="js/jquery.min.js"></script>
	<script src="js/scripts.min.js"></script>
	
</body>
</html>